

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  nav {
    text-align: center;
  }
  
  button {
    color: #88d1f9;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  section {
    padding: 20px;
    text-align: center;
  }
  
  /* 페이지 전체를 위한 스타일 */
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* 헤더와 네비게이션 바 */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f5f5f5;
  }
  
  .navigation .logo {
    font-size: 2em;
    color: #27a9e0;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    padding: 0 1em;
    cursor: pointer;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 0.5em 1em;
    background-color: #27a9e0;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* 메인 콘텐츠 */
  .main-content {
    flex: 1;
    padding: 1em;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 1em;
  }
  
  .search-bar input {
    flex: 1;
    padding: 0.5em;
  }
  
  .search-bar button {
    padding: 0.5em;
    background-color: #27a9e0;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* 콘텐츠 섹션 */
  .content {
    display: flex;
  }
  
  .food-list {
    flex: 3;
    background-color: #eaeaea;
    padding: 1em;
  }
  
  .sidebar {
    flex: 1;
    padding: 1em;
    background-color: #dcdcdc;
  }
  
  /* 반응형 레이아웃을 위한 미디어 쿼리가 필요할 수 있습니다. */
  /*
.submenu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
}

.nav-list li:hover .submenu {
  display: block;
}
*/


.submenu li {
  background-color: white;
  transition: 0.3s;
}

.submenu li:hover {
  background-color: #f5f5f5;
}

.home-body {
  /*background-image: url('img/homebackground.png');*/
  background-size: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
  background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  background-color: white;
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.center-text p {
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px; /* 텍스트와 버튼 사이의 공간 */
}

.search-section,
.upload-section,
.result-section {
  margin: 10px;
}

.search-button,
.upload-button,
.result-button {
  background-color: rgba(255, 255, 255, 0.2); /* Translucent white */
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 24px;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.search-button:hover,
.upload-button:hover,
.result-button:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Slightly more opaque on hover */
}

.settings .selected {
  background-color: #B9DDFF; /* 선택된 버튼의 배경색 */
  color: white; /* 선택된 버튼의 글자색 */
}

.settings button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #c8c8c8;
  margin-right: 10px;
  cursor: pointer;
}

.settings button:hover {
  background-color: #B9DDFF;
}

.settings input[type="text"]:disabled {
  background-color: #eaeaea;
}

.settings input[type="text"]:enabled {
  background-color: white;
}

.password-change-container {
  /* 스타일링 */
}

.password-inputs input {
  display: block;
  margin-bottom: 10px;
  /* 나머지 스타일링 */
}

.action-buttons button {
  margin-right: 10px;
  /* 나머지 스타일링 */
}

.withdraw-container {
  /* 스타일링 */
}

.withdraw-container input {
  display: block;
  margin-bottom: 10px;
  /* 나머지 스타일링 */
}

.action-buttons button {
  margin-right: 10px;
  /* 나머지 스타일링 */
}

.inbody-input-container {
  /* 컨테이너 스타일링 */
}

.inbody-input-container .input-group {
  margin-bottom: 15px;
}

.inbody-input-container .input-group label {
  display: block;
  margin-bottom: 5px;
}

.inbody-input-container .input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  /* 필요한 추가 스타일링 */
}

.inbody-input-container button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  /* 필요한 추가 스타일링 */
}

/* FoodInputPopup.css */
.food-input-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Above other elements */
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  /* Styling for the close button */
}

.popup-body {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="number"],
input[type="range"] {
  width: 100%;
}

.meal-type-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.meal-type-button {
  padding: 10px 20px;
  border: none;
  background-color: #88d1f9;
  color: white;
  cursor: pointer;
}

.meal-type-button.active {
  background-color: #0077cc; /* A darker shade for the active button */
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
}

.meals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.meal-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.save-button {
  /* Styling for the save button */
}

.related-searches-container {
  margin: 10px 0;
}

.related-searches-scrollable {
  max-height: 450px; /* Adjust the height to your preference */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.related-search-item {
  background: #f5f5f5;
  border: none;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.related-search-item:hover {
  background: #e0e0e0; /* Slightly darker on hover */
  cursor: pointer;
}


.buttons button {
  margin-right: 10px;
  /* 나머지 스타일링 */
}
/*캘린더UI*/
.calendar-ui {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.calendar-header {
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.week-days {
  display: flex;
  background-color: #eee;
  padding: 5px 0;
}

.week-day {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  color: #666;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
}

.date-item {
  flex: 1 0 calc(100% / 7);
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.date-item:hover {
  background-color: #f0f0f0;
}

.today {
  background-color: #e3f2fd;
}

.choiceDay {
  background-color: #90caf9;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.calendar > div {
  margin: 10px;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calendar-nav button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.calendar-nav span {
  font-weight: bold;
}

.days-of-week {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.date-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.date-cell:hover {
  background-color: #007bff;
  color: white;
}

.today {
  background-color: #007bff;
  color: white;
}

.dates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 280px; /* 조정하여 달력의 너비를 설정 */
}

.calendar {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  user-select: none;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-nav button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
}

.calendar-weekdays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.weekday {
  font-weight: bold;
}

.calendar-date {
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.calendar-date:hover {
  background-color: #f0f0f0;
}

.calendar-date.selected {
  background-color: #007bff;
  color: #fff;
}

.empty {
  visibility: hidden;
}
