.menu {
    /* width: 800px; */
    overflow: hidden;
    /* width: 100%; */
    /* display: flex; */
    /* margin: 150px auto; */
    color: #3B7666;
  }
  
  .lists {
    /* width: 17%; 20*5=100% */
    float: left;
    text-align: center;
    line-height: 60px;
    /* background-color: #5778ff; */
  }
  
  .menu a {
    color: #3B7666;
  }
  
  .submenu > li {
    line-height: 50px;
    background-color: #fff;
  }
  
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
  }
  .menu > li:hover {
    background-color: #ffffff;
    transition-duration: 0.5s;
  }
  
  .menu > li:hover .submenu {
    height: 100px; /*서브메뉴 li한개의 높이 50*5*/
    background-color: #cccccc;
    transition-duration: 1s;
  }

  .settingbuttons {
    /* display: flex; */
    float: right !important;
    /* justify-content: space-between; */
  }